<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8"/>
    <title>ElasticSearch Demo</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
</head>
<body>
<div style="text-align: left;margin:0 auto;width: 1000px; ">
    <input id="search" style="margin-top: 10px;height: 42px; width: 664px; font-size: 18px" placeholder="请输入文章标题进行检索"/>
    &nbsp;&nbsp;找到约&nbsp;<span id="resultNum"></span>&nbsp;条结果&nbsp;&nbsp;(耗时：<span id="usedTime"></span>)
    <div id="articleList">

    </div>
    <div id="page"></div>
</div>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript">
    var $, laytpl, form, layer, table, laypage, element, initPageNum=1;
    layui.use(['laytpl', 'form','layer', 'table', 'laypage', 'element','jquery'], function(){
        $ = layui.jquery, laytpl = layui.laytpl, form = layui.form, layer = layui.layer, table = layui.table, laypage = layui.laypage, element = layui.element;
        putData(1, null);
        $('#search').bind('keypress',function(event){
            if(event.keyCode === 13) {
                $("#articleList").html("");
                putData(1, $("#search").val());
            }
        });
    });
    function putData(pageNum, searchContent) {
        $.getJSON( '/es/article/getByPage', {
            searchContent: searchContent,
            pageNum: pageNum //向服务端传的参数
        }, function (res) {
            var data = res[0].data;
            $("#resultNum").text(res[0].total);
            $("#usedTime").text(res[1]+" ms");
            initPageNum = res[0].pageNum;
            // var myObject = JSON.parse(data);
            //自定义样式
            laypage.render({
                elem: 'page'
                , count: res[0].total
                , theme: '#1E9FFF'
                , curr: res[0].pageNum
                , layout: [ 'prev', 'page', 'next', 'skip']
                , groups: 3 //连续显示分页数
                , jump: function (obj, first) {
                    if (!first) {
                        $("#articleList").html("");
                        putData(obj.curr);
                    }
                }
            });
            var html='',title='',msg='',abstracts='';
            $.each(data, function (n, value) {
                title = '<a href="/es/article/'+value.id+'"><h3 style="display: block;\n' +
                    '    font-size: 1.17em;\n' +
                    '    -webkit-margin-before: 1em;\n' +
                    '    -webkit-margin-after: 1em;\n' +
                    '    -webkit-margin-start: 0px;\n' +
                    '    -webkit-margin-end: 0px;\n' +
                    '    font-weight: bold;">' + value.title + '</h3></a>';
                msg = ''
                abstracts = '<div style="line-height: 1.4;\n' +
                    '    word-wrap: break-word;"><span>'+value.abstracts+'</span></div>';
                html+=(title+abstracts);
            });
            $("#articleList").append(html===''?'<span>未查询到相关文章</span>':html);
        });
    };

</script>
</body>
</html>